.mobile-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.mobile-btn--back {
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
