.title {
  font-family: 'Raleway';
  font-style: normal;

  letter-spacing: 0.05em;
  color: #ffffff;
}

.title--dark {
  font-family: 'Raleway';
  font-style: normal;

  letter-spacing: 0.05em;
  color: #303030;
}
