.wrapper {
  @include tablet {
    margin: 0 auto;
    max-width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
  @include desktop {
    max-width: 1280px;
    padding-left: 55px;
    padding-right: 59px;
  }
}
