.container {
  padding-left: 31px;
  padding-right: 31px;
  margin: 0 auto;
  width: 100%;
  max-width: 480px;

  @include tablet {
    padding-left: 39px;
    padding-right: 39px;
    max-width: 768px;
  }
}

.wrapper .container {
  @include tablet {
    padding: 0;
    // padding-top: 280px;
    // padding-left: 70px;
    // padding-right: 37px;
    max-width: 100%;
  }
}
