.contacts {
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
  background-color: #191c26;
  background-image: url(../../img/footer-bg/footer-bg-mob-480.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../../img/footer-bg/footer-bg-mob-960.png);
  }

  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../../img/footer-bg/footer-bg-mob-1440.png);
  }

  @include tablet {
    max-width: 768px;
    background-image: url(../../img/footer-bg/footer-bg-tab-768.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url(../../img/footer-bg/footer-bg-tab-1536.png);
    }

    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url(../../img/footer-bg/footer-bg-tab-2304.png);
    }
  }

  @include desktop {
    margin: 0;
    max-width: 625px;
    background-image: url(../../img/footer-bg/footer-bg-desk-625.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url(../../img/footer-bg/footer-bg-desk-1875.png);
    }

    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url(../../img/footer-bg/footer-bg-desk-1875.png);
    }
  }
}
.contacts .container {
  @include desktop {
    padding-left: 100px;
  }
}
.contacts__title {
  @include text(42px, 49px);
  margin-bottom: 40px;
  text-align: center;
  margin-bottom: 40px;

  @include tablet {
    text-align-last: left;
  }
}
.contacts__wrap {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
  @include desktop {
    flex-direction: column;
  }
}
.contacts__address {
  margin-bottom: 44px;
  font-style: normal;

  @include tablet {
    margin-bottom: 0;
  }
  @include desktop {
    margin-bottom: 70px;
    max-width: 270px;
  }
}
.contacts__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  @include text(18px, 30px);
  transition: color 250ms cubic-bezier(0.47, 0, 0.745, 0.715);

  @include tablet {
    max-width: 330px;
  }

  .contacts__item:not(:last-child) & {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: #ff6c00;
  }
}
.contacts__icon {
  margin-right: 16px;
  fill: transparent;
  stroke: currentColor;
  transition: stroke 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.contacts__details {
  @include tablet {
    max-width: 330px;
    width: 100%;
  }
}
.contacts__top-text {
  display: flex;
  margin-bottom: 20px;
  @include text(11px, 15px);
  color: #ffffff;

  &::before {
    @include line(rgba(157, 164, 189, 0.4));
  }
}
.contacts__text {
  @include text(18px, 30px);
}
