.features {
  .container {
    @include desktop {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}
.features__inner {
  @include desktop {
    margin-left: 130px;
  }
}

.features__top-text {
  @include text(11px, 15px);
  margin-bottom: 20px;
  display: flex;

  &::before {
    @include line(#303030);
  }
}
.features__title {
  @include text(42px, 49px);
  margin-bottom: 20px;

  @include tablet {
    max-width: 420px;
    margin-left: 0;
  }
}
.features__text {
  @include text(18px, 30px);
  margin-bottom: 44px;

  @include tablet {
    max-width: 500px;
    margin-left: 0;
  }
}
.achievement__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include tablet {
    max-width: 450px;
    margin: 0;
    margin-left: auto;
  }
}
.achievement__item {
  flex-basis: calc((100% - 30px) / 2);
  padding-top: 20px;
  padding-bottom: 20px;
  height: 133px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;

  &:nth-child(even) {
    margin-top: 30px;
    margin-bottom: -5px;
    margin-left: 30px;
  }
  &:nth-child(2) {
    margin-top: 35px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.achievement__value {
  @include text(42px, 57px);
  display: flex;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #303030;

  &::after {
    content: '';
    margin-left: 2px;
    background-image: url(../../img/svg-icons/plus.svg);
    width: 13px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
.achievement__text {
  @include text(11px, 15px);
  display: block;
  width: 100%;
  max-width: 130px;
  font-weight: 600;
  text-align: center;
  color: #303030;
}
