.gallery__top-text {
  @include text(11px, 21px);
  margin-bottom: 44px;
  display: flex;

  @include tablet {
    @include text(11px, 15px);
  }

  &::before {
    @include line(#303030, 20px, 60px, 10px);
    margin-top: 10px;

    @include tablet {
      @include line(null, null, null, 7px, null);
    }
  }
}
.gallery__list {
  @include tablet {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
}
.gallery__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}
.gallery__item {
  @include tablet {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
  @include desktop {
    flex-basis: calc((100% - 120px) / 4);
  }
}
