.header {
  position: absolute;
  width: 100%;
  background-color: transparent;

  .container {
    @media screen and (max-width: 767px) {
      position: relative;
      max-width: 480px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 40px;
    }
  }
}
.header .logo {
  @include tablet {
    display: none;
  }
}
.header__menu {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @include tablet {
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
  }
  @include desktop {
    align-items: center;
  }
}

.header__list {
  margin-top: 12px;
  display: flex;

  @include desktop {
    margin-top: 0;
  }
}

.header__item:not(:first-child) {
  margin-left: 24.25px;

  @include desktop {
    margin-left: 40px;
  }
}
.header__link {
  @include text(12px, 16px);
  font-weight: 600;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &:hover,
  &:focus {
    color: #ff6c00;
  }
}
.header__holder {
  margin-left: 50px;
  display: flex;
  flex-direction: column-reverse;

  @include desktop {
    flex-direction: row;
    align-items: center;
    margin-left: 319px;
  }

  .header__booking {
    @include text(12px, 16px);
    margin-bottom: 20px;
    margin-right: 2px;

    @include desktop {
      margin-bottom: 0;
      margin-left: 42px;
      margin-right: 3px;
    }
  }

  .header__connect {
    @include text(12px, 16px);
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

    &:hover,
    &:focus {
      color: #ff6c00;
    }
  }
}
